<div class="max-w-7xl mx-auto px-5 mt-5">
  <button class="bg-blue-300 flex items-center py-2 px-4 rounded-xl" (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>
  <div class="container-wrapper">
    <div class="container">
      <div class="text-center mb-3">
      <h2 class=" text-3xl font-semibold">To Do</h2>
    </div>
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo$ | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(todo$ | async)?.length === 0">Empty list</p>
        <app-task
          (edit)="editTask($event)"
          (delete)="deleteTask(task.id!)"
          *ngFor="let task of todo$ | async"
          cdkDrag
          [task]="task">
        </app-task>
      </mat-card>
    </div>

    <div class="container">
      <div class="text-center mb-3">
      <h2 class="text-3xl font-semibold">In Progress</h2>
    </div>
      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress$ | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(inProgress$ | async)?.length === 0">Empty list</p>
        <app-task
          (edit)="editTask($event)"
          (delete)="deleteTask(task.id!)"
          *ngFor="let task of inProgress$ | async"
          cdkDrag
          [task]="task">
        </app-task>
      </mat-card>
    </div>

    <div class="container">
      <div class="text-center mb-3">
      <h2 class=" text-3xl font-semibold">Done</h2>
    </div>
      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done$ | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(done$ | async)?.length === 0">Empty list</p>
        <app-task
          (edit)="editTask($event)"
          (delete)="deleteTask(task.id!)"
          *ngFor="let task of done$ | async"
          cdkDrag
          [task]="task">
        </app-task>
      </mat-card>
    </div>
  </div>
</div>
