<mat-card class="p-5 w-full" *ngIf="task" (dblclick)="edit.emit(task)">
  <div class="cursor-grab">
  <h2 class="text-3xl font-semibold break-words">{{ task.title }}</h2>
  <p class="break-words">
    {{ task.description }}
  </p>
</div>
<div class="flex flex-row-reverse gap-2">
  <button class="bg-red-500 rounded-md p-1 flex items-center" (click)="delete.emit(task.id)"><mat-icon >delete</mat-icon></button>
  <button class="bg-blue-400 rounded-md p-1 flex items-center" (click)="edit.emit(task)"><mat-icon >edit</mat-icon></button>  
</div>
</mat-card>
