/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100vh; }
body {
  padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  mat-toolbar {
    margin-bottom: 20px;
  }
  
  mat-toolbar > span {
    margin-left: 10px;
  }
  
  .content-wrapper {
    max-width: 1400px;
    margin: auto;
  }
  
  .container-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
  }
  
  .container {
    width: 400px;
    margin: 0 25px 25px 0;
  }
  
  .list {
    border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 4px;
  }
  
  app-new-task {
    margin-bottom: 30px;
  }
  
  .empty-label {
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
  }

  .cdk-drag-animating {
    transition: transform 250ms;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }

  :host {
    display: block;
  }
  
  .item {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .contentContainer{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formWrapper{
    max-width: 500px;
    min-width: 300px;
  }

  .fieldContainer{
    display: flex;
    flex-direction: column;
  }

  .fieldContainer input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 50px;
  }

  .fieldContainer .ng-valid:not(form) { border: 2px solid #42A948; /* green */ }

  
  .fieldContainer .ng-invalid:not(form)  { border: 2px solid #a94442; /* red */ }

.alert{
  color: #a94442;
  margin-top:-8px;
  padding-bottom: 8px;
  font-size: 12px;
}

.success{
  margin-top: 10px;
  width: 100%;
  padding: 12px 20px;
  border-radius: 50px;
  background-color: #06D001;
  color: #fff;
  cursor: pointer;
  border: none;
}

.success:disabled {
  background-color: #EEEEEE;
  color: #dbdbdbdb;
  cursor: not-allowed;
}